// colors
$accentColor = #38B2AC
$textColor = #4A5568
$borderColor = #eaecef
$codeBgColor = #1A202C
$arrowBgColor = #ccc
$badgeTipColor = #38B2AC
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 15rem
$contentWidth = 1200px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px