.w-btn-loader {
    position: relative;
    width: var(--size, 1rem) ;
    margin: 0 auto;
}
.w-btn-loader::before {
    content: "";
    vertical-align: -50%;
    position: absolute;
    top: 0;
    left: 0;
    border: calc(var(--size, 1rem) * 0.12) solid transparent;
    border-top: calc(var(--size, 1rem) * 0.12) solid var(--color, white);
    border-radius: 50%;
    width: var(--size, 1rem);
    height: var(--size, 1rem);
    animation: spin var(--speed, 1s) linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}